<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%SPYSearchSpy"
            icon="icons/SearchSpy.22.png"
            class="eu.jucy.ui.searchspy.SearchSpyEditor"
            id="eu.jucy.ui.searchspy.SearchSpyEditor">
      </editor>
   </extension>
   <extension
         point="eu.jucy.helpers.splashExtension">
      <splashExtension
            icon="icons/Searchspy.64.png"
            id="eu.jucy.ui.searchspy.se1"
            tooltip="SearchSpy plugin">
      </splashExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="eu.jucy.ui.searchspy.OpenSearchSpyHandler"
            description="%SPYDescription"
            id="eu.jucy.ui.searchspy.action"
            name="%SPYSearchSpy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:eu.jucy.gui.toolbarsearch?after=eu.jucy.gui.OpenSearchEditor">
         <command
               commandId="eu.jucy.ui.searchspy.action"
               icon="icons/SearchSpy.22.png"
               label="%SPYSearchSpy"
               tooltip="%SPYDescription">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:view?after=additions">
         <command
               commandId="eu.jucy.ui.searchspy.action"
               icon="icons/SearchSpy.22.gif"
               label="%SPYSearchSpy"
               tooltip="%SPYDescription">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="eu.jucy.ui.searchspy.action"
            schemeId="uc.default"
            sequence="CTRL+0">
      </key>
   </extension>

</plugin>
