.metadata
/plugins/*/bin
/featuress/*/bin
/*/bin

/plugins/eu.jucy.product1/schema/splashExtension.exsd
/plugins/eu.jucy.product1/icons/af.png
/plugins/eu.jucy.product1/icons/embedded.png
/plugins/eu.jucy.product1/icons/enterprise.png
/plugins/eu.jucy.product1/icons/languages.png
/plugins/eu.jucy.product1/icons/rcp.png
/features/*/compile.eu.jucy.feature.*.xml