.metadata
/*/bin
 

/eu.jucy.product1/schema/splashExtension.exsd
/eu.jucy.product1/icons/af.png
/eu.jucy.product1/icons/embedded.png
/eu.jucy.product1/icons/enterprise.png
/eu.jucy.product1/icons/languages.png
/eu.jucy.product1/icons/rcp.png
/eu.jucy.feature.countries/compile.eu.jucy.feature.countries.xml