<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="eu.jucy.gui.application"
            name="jucy">
         <property
               name="windowImages"
               value="icons/icon_16.gif,icons/icon_32.gif,icons/icon_48.gif,icons/icon_64.gif,icons/icon_128.gif">
         </property>
         <property
               name="aboutText"
               value="%aboutText">
         </property>
         <property
               name="aboutImage"
               value="icons/sidebar.png">
         </property>
         <property
               name="appName"
               value="jucy">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="eu.jucy.product1.splashHandlers.ExtensibleSplashHandler"
            id="eu.jucy.product1.splashHandlers.extensible">
      </splashHandler>
      <splashHandlerProductBinding
            productId="eu.jucy.product1.product"
            splashId="eu.jucy.product1.splashHandlers.extensible">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="eu.jucy.product1.splashExtension">
      <splashExtension
            icon="icons/af.png"
            id="af"
            tooltip="Application Framework">
      </splashExtension>
      <splashExtension
            icon="icons/embedded.png"
            id="embedded"
            tooltip="Embedded">
      </splashExtension>
      <splashExtension
            icon="icons/enterprise.png"
            id="enterprise"
            tooltip="Enterprise">
      </splashExtension>
      <splashExtension
            icon="icons/languages.png"
            id="languages"
            tooltip="Languages">
      </splashExtension>
      <splashExtension
            icon="icons/rcp.png"
            id="rcp"
            tooltip="RCP">
      </splashExtension>
   </extension>
</plugin>