<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="splashExtension" name="Splash Extensions" schema="schema/splashExtension.exsd"/>
   <extension-point id="tablevieweradministrator" name="TableViewer" schema="schema/tablevieweradministrator.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="eu.jucy.gui.Appearance"
            class="uihelpers.TablesPreferencePage"
            id="eu.jucy.helpers.ui.page1"
            name="%Tables">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="uihelpers.TVAPI">
      </initializer>
   </extension>
</plugin>
