<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            class="eu.jucy.connectiondebugger.DebuggerView"
            icon="icons/debuggerview.16.gif"
            id="eu.jucy.connectiondebugger.debuggerview"
            name="Connection Debugger"
            restorable="false">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:view?before=eu.jucy.gui.views.seperator1">
         <command
               commandId="eu.jucy.connectiondebugger.openonhub"
               icon="icons/debuggerview.16.gif"
               label="Connection Debugger"
               style="push">
         </command>
      </menuContribution>
       <menuContribution
               locationURI="popup:eu.jucy.hub?before=eu.jucy.gui.hub.separator2">
            <command
                  commandId="eu.jucy.connectiondebugger.attachuser"
                  icon="icons/debuggerview.16.gif"
				  label="Connection Debugger"
                  style="push">
            </command>
       </menuContribution>
       <menuContribution
             locationURI="popup:eu.jucy.connectiondebugger.debuggerview?after=additions">
          <command
                commandId="org.eclipse.ui.edit.copy"
                style="push">
          </command>
       </menuContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.jucy.connectiondebugger.OpenDebuggerViewHandler$OpenDebuggerViewHubHandler"
            commandId="eu.jucy.connectiondebugger.openonhub">
         <activeWhen>
            <with
                  variable="activeEditorId">
               <equals
                     value="eu.jucy.hub">
                 </equals>
            </with>
         </activeWhen>
      </handler>
       <handler
            class="eu.jucy.connectiondebugger.OpenDebuggerViewHandler"
            commandId="eu.jucy.connectiondebugger.attachuser">
         <activeWhen>
               <reference
                     definitionId="eu.jucy.gui.user.oneUserWithIP">
               </reference>
            </activeWhen>
      </handler>
      
      
     </extension>
     
 	<extension
         point="org.eclipse.ui.commands">
      <command
            id="eu.jucy.connectiondebugger.openonhub"
            name="Connection Debugger hub">
      </command>
      <command
            id="eu.jucy.connectiondebugger.attachuser"
            name="Connection Debugger User">
      </command>
   </extension>
   
      <extension
         point="org.eclipse.core.expressions.definitions">
   <definition
            id="eu.jucy.gui.user.oneUserWithIP">
         <with
               variable="selection">
            <and>
               <count
                     value="1">
               </count>
               <iterate
                     operator="or">
                  <test
                        property="eu.jucy.properties.user.isIPKnown"
                        value="true">
                  </test>
               </iterate>
            </and>
         </with>
      </definition>
   </extension>
  <extension
         point="eu.jucy.helpers.splashExtension">
      <splashExtension
            icon="icons/debuggericon.64.png"
            id="eu.jucy.connectiondebugger">
      </splashExtension>
   </extension>
  


</plugin>
